@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/PlusJakartaSans-Light.woff2") format("woff2");
}
/* vietnamese */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PlusJakartaSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2");
}

html {
  font-family: "Plus Jakarta Sans";
}

body {
  margin: auto;
}

.parent__container {
  background: #e3e3e3;
  padding: 64px;
}

.header {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(195, 212, 233, 0.4);
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 60px;
  padding-right: 32px;
}

.header__2 {
  display: none;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(195, 212, 233, 0.4);
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 34px 24px 24px 32px;
  padding-right: 32px;
}

.wrap__seach__2 {
  display: flex;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 10px;
  /* padding: 12px; */
  align-items: center;
}

.wrap__seach__2 img {
  margin-right: 8px;
}

.picture__wrap {
  display: flex;
  justify-content: space-between;
}

.filter {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 10px;
  padding: 12px;
}

.filter__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h4,
.header__2 h4,
.deatil__footer h4 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  align-items: center;
  letter-spacing: -0.03em;
  color: #3563e9;
}
.seach {
  display: flex;
  width: 492px;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
  padding: 0px 20px 0px 20px;
  justify-content: space-between;
}

.wrap__seach {
  display: flex;
}

.wrap__setting {
  display: flex;
  align-items: center;
}

.wrap__setting div {
  margin-right: 20px;
}

.seach p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: -0.02em;
  color: #596780;
}

.content__wrap {
  padding: 32px 64px 64px 64px;
  background: #f6f7f9;
}

.wrap__card {
  width: 49%;
}

.card__1 {
  background: #54a6ff;
  border-radius: 10px;
  padding-top: 24px;
  padding-left: 24px;
}

.card__2 {
  background: #3563e9;
  border-radius: 10px;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 8px;
}

.detail__wrap p {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  align-items: center;
  letter-spacing: -0.03em;
  color: #ffff;
}

#ease {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.detail__wrap button {
  background: #3563e9;
  color: #ffff;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-width: 0px;
}

.mental,
.mental2 {
  display: flex;
  justify-content: center;
}

.wrap__showcase {
  display: flex;
  justify-content: space-between;
}

.wrap__card1 {
  padding-top: 32px;
  padding-left: 64px;
}

#button__2 {
  background: #54a6ff;
  color: #ffff;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-width: 0px;
}

.pick__1,
.pick__2 {
  display: flex;
  flex-direction: column;
  background: #ffff;
  border-radius: 10px;
  padding: 24px 48px;
}

.checkmark {
  flex-direction: row;
}

.pick {
  align-items: center;
  display: flex;
}

.pick__up__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.line__1,
.line__2 {
  margin-top: 25px;
  height: 60px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  transform: rotate(360deg);
}

.location__wrap {
  margin-right: 20px;
}

.date__wrap {
  margin: 0px 24px 0px 24px;
}

.time__wrap {
  margin-left: 24px;
}

.location__wrap,
.date__wrap,
.time__wrap {
  width: 33%;
}

.location h4,
.date h4,
.time h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #1a202c;
}

.location__wrap select,
.date__wrap select,
.time__wrap select {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #90a3bf;
  border-style: none;
  padding-right: 24px;
}

.background__img img {
  padding: 20px;
}

.background__box {
  background: rgba(16, 50, 147, 0.28);
  border-radius: 10px;
  margin: 50px;
  align-items: center;
  background: #3563e9;
  border-radius: 10px;
}

.pick__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pick__wrap__2 {
  display: none;
  justify-content: space-between;
  margin-top: 20px;
}

.popular__car__view {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

#view {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3563e9;
}

.car img {
  margin: 64px 0;
  width: 232px;
}
.popular__car h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #90a3bf;
  padding: 10px 20px;
}

.car_card_1 {
  background: #ffffff;
  border-radius: 10px;
  padding: 0 20px 10px;
}

.car_card_1 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  color: #1a202c;
}

.wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.car_card_1 p {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  letter-spacing: -0.02em;
  color: #90a3bf;
}

.detail {
  align-items: center;
  display: flex;
}

.wrap__1,
.wrap__2,
.wrap__3 {
  align-items: center;
  display: flex;
}

#h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  align-items: center;
  color: #1a202c;
}

span {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  color: #90a3bf;
}

.car_card_1 button {
  background: #3563e9;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding: 10px 20px;
  border-style: none;
}

.button__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Wrap__showcase__2,
.Wrap__showcase__3 {
  display: flex;
  justify-content: space-between;
}

.sport {
  display: flex;
  flex-direction: column;
}

#net {
  margin-top: -20px;
  text-decoration-line: line-through;
}

#sport {
  margin-top: -20px;
}

.Recomendation__Car h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #90a3bf;
}

button {
  background: #3563e9;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding: 10px 20px;
  border-style: none;
}

#one {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  text-align: right;
  letter-spacing: -0.02em;
  color: #90a3bf;
}

.wrap__button__down {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.wrap img :nth-child(2) {
  max-width: 232px;
  width: 232px;
}

.sample {
  background: #ffffff;
  border-radius: 10px;
}

.footer {
  background: #ffffff;
  padding: 80px 60px 0 60px;
}

.wrap__footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.wrap__about {
  display: flex;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 60px;
}

.wrap__copyright {
  display: flex;
}

.about,
.Community,
.socials {
  margin-right: 60px;
}

#about,
#Community,
#socials {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  align-items: center;
  letter-spacing: -0.02em;
  color: #1a202c;
}
#about__detail,
#Community__detail,
#socials__detail {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  letter-spacing: -0.02em;
  color: rgba(19, 19, 19, 0.6);
}

.line {
  border: 1px solid rgba(19, 19, 19, 0.16);
  transform: rotate(-180deg);
}

#right,
#policy,
#terms {
  margin-right: 60px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #1a202c;
  mix-blend-mode: normal;
}

.sample__wrap {
  display: flex;
  margin: 20px;
  padding: 20px;
  justify-content: space-between;
}

.sample__car img {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  margin: 32px 40px 38px 59px;
  max-width: 142px;
}

.p {
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .content__wrap {
    background-color: none;
    margin: 0px;
    padding: 0px;
  }

  .header {
    display: none;
  }

  .header__2 {
    display: block;
    max-width: 367px;
  }

  .wrap__seach__2 {
    display: flex;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 10px;
    padding: 0px 12px;
    align-items: center;
  }

  .wrap__card {
    width: 100%;
  }

  .card__1 {
    padding: 19px 112px 4px 16px;
  }

  .location__wrap,
  .date__wrap,
  .time__wrap {
    width: 100%;
  }

  .mental img {
    max-width: 160px;
    margin-top: 26px;
    margin-left: 53px;
  }

  .mental {
    display: block;
  }

  .detail__wrap p {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #ffffff;
  }

  #ease {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  .card__2 {
    display: none;
  }

  .pick__wrap {
    display: none;
    flex-direction: column;
  }

  .pick__wrap__2 {
    display: flex;
    flex-direction: column;
  }

  .background__box {
    content-visibility: auto;
    max-width: 60px;
    margin-left: 146px;
  }

  .pick__1 {
    display: flex;
    align-items: flex-start;
    padding: 16px;
    gap: 20px;
    margin-bottom: -52px;
  }

  .pick__2 {
    display: flex;
    align-items: flex-start;
    padding: 16px;
    gap: 20px;
    margin-top: -52px;
  }

  .location__wrap select,
  .date__wrap select,
  .time__wrap select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
  }

  .pick__up__content {
    display: flex;

    padding: 0px;
  }

  .parent__container {
    padding: 20px 24px;
  }

  .Wrap__showcase__2,
  .Wrap__showcase__3 {
    visibility: visible;
    flex-direction: column;
  }

  .car img {
    max-height: 64px;
    max-width: 150px;
    margin: 28px 30px 40px 16px;
  }

  .detail {
    margin-left: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .car_card_1 {
    flex-direction: column;
    margin-bottom: 20px;
    padding: 16px;
  }

  .wrap__button__down {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 49px;
  }

  .wrap__footer {
    display: block;
  }

  .wrap__about {
    flex-direction: column;
  }

  .copyright {
    flex-direction: column;
    padding: 24px;
  }

  .detail__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
  }

  .sample {
    padding: 16px;
  }

  .sample__wrap {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .sample__reborn {
    display: flex;
    align-items: center;
  }
  .sample__detail {
    margin-left: auto;
  }

  .p {
    display: flex;
  }
  .button__wrap h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }
  .sample__car img {
    max-height: 64px;
    max-width: 150px;
    margin: 28px 30px 40px 16px;
  }

  #day {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #90a3bf;
  }
}
